* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F0F5E9;
  font-family: "Times New Roman", Times, serif;
  min-height: 100vh;
  margin: 30px;
}

.container {
  background-color: white;
  padding: 30px;
  border: 1px solid #BDBBBA;
  border-radius: 2px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.toggle-container {
  text-align: right;
}

#toggleLang {
  background-color: white;
  color: #2F4870;
  border: 1px solid #2F4870;
  padding: 3px 5px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#toggleLang:hover {
  background-color: #2F4870;
  color: white;
}

.header h1 {
  color: navy;
  padding: 10px 0;
  text-align: center;
  font-size: 2.2rem; 
}

.header h4 {
  color: rgba(0, 0, 128, 0.8);
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.userInformation {
  padding-bottom: 20px;
  border-bottom: 1px dashed gray;
  color: #575656;
}

.userName label,
.userZip label {
  color: #575656;
  display: block;
  margin-bottom: 8px;
}

.userZip p {
  margin-top: 8px;
}

.inputZip {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 8px;
}

#zip {
  order: 1;
}

#zipError {
  order: 2;
}

#lookUpBtn {
  order: 3;
}

.userName input,
.inputZip input,
.emailForm input {
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #BDBBBA;
  border-radius: 5px;
  padding: 10px;
  background-color: #F5F3F1;
  color: black;
}

.userInformation input:focus {
  outline: none;
  border-color: rgba(0, 0, 128, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 128, 0.2);
}

.inputZip button {
  width: 100%;
  background-color: #2F4870;
  border: none;
  padding: 12px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.inputZip button:hover {
  background-color: #4970AD;
}

.emailForm {
  margin-top: 20px;
}

.emailForm[hidden] {
  display: none;
}

.emailForm h4 {
  color: rgba(0, 0, 128, 0.8);
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.emailText,
.subjectText,
.templateText {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 10px;
}

.emailText textarea,
.subjectText textarea {
  width: 100%;
  resize: none;
  border: none;
  background-color: transparent;
  font-family: inherit;
  color: #575656;
  font-size: 1rem;
}

.emailText textarea:focus, 
.subjectText textarea:focus {
  outline: none;
}

.templateText textarea {
  height: 260px;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #BDBBBA;
  border-radius: 5px;
  background-color: transparent;
  color: black;
  font-family: inherit;
  color: #575656;
  font-size: 1rem;
}

.templateText textarea:focus {
  outline: none;
  border-color: rgba(0, 0, 128, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 128, 0.2);
}

.emailForm button {
  background-color: #2F4870;
  border: none;
  padding: 14px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}

.emailForm button:hover {
    background-color: #4970AD;
}

.error {
  background: #fee2e2;
  color: #991b1b;
  padding: 0.75rem;
  border-radius: 4px;
  margin-bottom: 1rem;
  width: 100%;
}

.required {
  color: red;
}

.notes {
  margin-top: 5px;
  color: #575656;
  font-size: 0.8rem;
  text-align: center;
}

/* For desktop */
@media (min-width: 768px) {

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
  }

  .container {
    max-width: 800px;
    padding: 30px;
  }

  /* Headings */
  .header h1 {
    font-size: 2.2rem;
  }

  /* Inputs should be full width */
  .userName input {
    width: 60%;
  }

  /* Email + subject rows stack */
  .emailText,
  .subjectText {
    flex-direction: row;
  }

  .emailText textarea,
  .subjectText textarea {
    width: 90%;
  }

  /* Email body textarea */
  .templateText textarea {
    height: 500px;
  }

  .error {
    width: 38%;
  }
  
  .inputZip {
    grid-template-columns: max-content auto;
    column-gap: 12px;
    row-gap: 8px;
  }

  #zip {
    grid-column: 1;
    grid-row: 1;
    width: 200px;
  }

  #lookUpBtn {
    grid-column: 2;
    grid-row: 1;
    height: 39px;
    padding: 0 20px;
    width: 25%;
  }

  #zipError {
    grid-column: 1 / span 2;
    grid-row: 2;
    width: 38%;
  }
}
