* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  min-height: 100vh;
  margin: 30px;
}

.container {
  background-color: white;
  padding: 30px;
  border: 1px solid #BDBBBA;
  border-radius: 2px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 800px;
}

.header h1 {
  color: navy;
  padding: 10px;
  text-align: center;
  font-size: 2.2rem; 
}

.header h4 {
  color: rgba(0, 0, 128, 0.8);
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.userInformation {
/*   margin-bottom: 50px; */
  padding-bottom: 20px;
  border-bottom: 1px dashed gray;
  color: #575656;
}

.userName label {
  color: #575656;
  display: flex;
  margin-bottom: 10px;
}

.userName input {
  width: 60%;
  margin-bottom: 15px;
  border: 1px solid #BDBBBA;
  border-radius: 5px;
  padding: 10px;
  background-color: #F5F3F1;
  color: black;
}

.userZip label {
  color: #575656;
  display: flex;
  margin-bottom: 10px;
}

.inputZip {
  display: flex;
  justify-content: left;
  gap: 10px;
}

.inputZip input {
  width: 25%;
  margin-bottom: 15px;
  border: 1px solid #BDBBBA;
  border-radius: 5px;
  padding: 10px;
  background-color: #F5F3F1;
  color: black;
}

.inputZip button {
  background-color: #2F4870;
  border: none;
  padding: 0px 20px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  height: 39px;
  font-weight: bold;
}

.inputZip button:hover {
  background-color: #4970AD;
}

.userInformation input:focus {
  outline: none;
  border-color: rgba(0, 0, 128, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 128, 0.2);
}

.emailForm {
  margin-top: 20px;
  display: block;
}

.emailForm[hidden] {
  display: none;
}

.emailForm h4 {
  color: rgba(0, 0, 128, 0.8);
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.emailForm label {
  color: black;
/*   display: flex; */
  margin-bottom: 10px;
  font-size: 1rem;
}

.emailForm input {
  width: 60%;
  margin-bottom: 15px;
  border: none;
  padding: 3px;
  background-color: transparent;
}

.emailForm input::placeholder {
  font-family: "Times New Roman", Times, serif;
  color: #575656;
  font-size: 1rem;
}

.emailForm button {
  background-color: #2F4870;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  display: block;
  margin: 20px auto 0;
}

.emailForm button:hover {
    background-color: #4970AD;
}

.templateText {
  display: grid;
}

.templateText textarea {
  height: 500px;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #BDBBBA;
  border-radius: 5px;
  background-color: transparent;
  color: black;
}

.templateText textarea::placeholder {
  font-family: "Times New Roman", Times, serif;
  color: #575656;
  font-size: 1rem;
}

.error {
  background: #fee2e2;
  color: #991b1b;
  padding: 0.75rem;
  border-radius: 4px;
  margin-bottom: 1rem;
  width: 38%;
}

.required {
  color: red;
}

.auto-size {
  box-sizing: content-box;
  padding: 3px;
  font: inherit;
  max-width: 100%;
  
}
